<!DOCTYPE html>
<html lang="en" ng-app="shopping">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="marchukilya@gmail.com">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>

  <body ng-controller="AppController as appCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{name}}</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="appCtrl.authorized" ng-class="{ active:appCtrl.page === 'signup'}">
              <a href="#" ng-click="appCtrl.page = 'signup'">Sign up</a>
          </li>
          <li ng-hide="appCtrl.authorized" ng-class="{ active:appCtrl.page === 'login'}">
            <a href="#" ng-click="appCtrl.page = 'login'">Login</a>
          </li>
          <li ng-show="appCtrl.authorized" ng-controller="CartController as cartCtrl">
            <a href="#" data-placement="bottom" data-html="true" data-content="{{cartCtrl.popover()}}" bs-popover>
              Cart {{cartCtrl.products.length}}
            </a>
            <div class="popover" id="popover">
              <ul class="media-list">
                <li ng-repeat="product in cartCtrl.products" class="media">
                  <div class="media-left">
                    <a href="#">
                      <img ng-src="{{product.Image}}" width="50" height="25" alt="">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      #{{product.id}} {{product.Name}}
                      <small>{{product.Price | currency:"$":0}}</small>
                    </h4>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li ng-show="appCtrl.authorized">
            <a>Authorized</a></li>
        </ul>
      </div>
    </nav><!-- /nav.navbar.navbar-default -->

    <div class="container">
      <div class="row">
        <div class="col-xs-12" ng-show="appCtrl.page === 'signup'">
          <signup-form></signup-form>
        </div>
        <div class="col-xs-12" ng-show="appCtrl.page === 'store'">
          <store></store>
        </div>
        <div class="col-xs-12" ng-show="appCtrl.page === 'login'">
          <login-form></login-form>
        </div>
      </div>
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.6/angular-strap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.6/angular-strap.tpl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.7/angular-md5.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/login.js"></script>
    <script src="js/signup.js"></script>
    <script src="js/store.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/raitng.js"></script>
  </body>
</html>
