<form class="form-signin form-signup" name="signupForm" 
    ng-controller="SignupController as signupCtrl"
    ng-submit="signupForm.$valid && signupCtrl.signup()" novalidate >

  <div class="text-danger" ng-messages="signupForm.email.$error" role="alert">
    <div ng-message="required">Email field is required</div>
    <div ng-message="email">Your email address is invalid</div>
    <div ng-message-exp="['minlength', 'maxlength']">
      Your email must be between 5 and 50 characters long
    </div>
  </div>

  <div class="text-danger" ng-messages="signupForm.password.$error" role="alert">
    <div ng-message="required">Password field is required</div>
    <div ng-message-exp="['minlength', 'maxlength']">
      Your password must be between 5 and 50 characters long
    </div>
  </div>

  <div class="text-danger" ng-messages="signupForm.confirm_password.$error" role="alert">
    <div ng-message="required">Confirm Password field is required</div>
    <div ng-message="equals">Password Fields are not equal!</div>
    <div ng-message-exp="['minlength', 'maxlength']">
      Your password must be between 5 and 50 characters long
    </div>
  </div>

  <h2 class="form-signin-heading">Sign Up</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email"
    name="email" 
    id="inputEmail" 
    class="form-control" 
    placeholder="Email address" 
    ng-model="signupCtrl.email"
    ng-minlength="5"
    ng-maxlength="50" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password"
    name="password"
    id="inputPassword" 
    class="form-control" 
    placeholder="Password" 
    ng-model="signupCtrl.password"
    equals="{{signupCtrl.confirm_password}}"
    ng-minlength="5"
    ng-maxlength="20" required >

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password"
    name="confirm_password" 
    id="inputConfirmPassword" 
    class="form-control" 
    placeholder="Confirm Password" 
    ng-model="signupCtrl.confirm_password"
    equals="{{signupCtrl.password}}"
    ng-minlength="5"
    ng-maxlength="20" required >

  <button class="btn btn-lg btn-primary btn-block" type="submit" 
    ng-disabled="signupForm.$invalid">
      Sign Up
  </button>
</form>